body {
	font-family: 'Vollkorn SC', cursive;
	background: url("https://images.unsplash.com/photo-1570482960841-8b75c1a9f410?ixlib=rb-1.2.1&auto=format&fit=crop&w=2597&q=80")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	box-sizing: border-box;
	padding: 0;
}

#container {
	width: 30vw;
	border: 20px dotted white;
	background-color: gray;
	border-radius: 20px;
	align-items: center;
	padding: 2em;
	position: relative;
	margin-left: 15vw;
	margin-top: 15vw;
	font-size: 4em;
	box-sizing: content-box;
}

/* h1 {
	text-align: center;
} */

input {
	width: 100%;
	padding: 2em;
	display: inline-block;
	font-size: 30px;
	box-sizing: border-box;
}

#versatileForm {
	position: relative;
	line-height: 2em;
}

#romanNumber {
	background-color: white;
}

.failed {
	color: red;
}

.passed {
	color: black;
}
